body {
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 1132px;
    min-width: 1132px;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.two-links-header {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 18%;
}

.purple-text {
    color: #5754b0;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.purple-text:hover {
    transform: scale(1.2);
    transition: 1s all;
}

.logo {
    margin-right: 15%;
    height: 100px;
    border-radius: 100%;
    width: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases {
    margin: 0 50px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.cases>div {
    position: absolute;
    margin-top: -30px;
}

.cases div:nth-child(2) {
    margin-left: 459px;
}

.cases div:nth-child(3) {
    margin-top: -14px;
    margin-left: 645px;
}

.cases-title {
    position: absolute;
    margin-left: 90px;
    padding-top: 100px;
    z-index: 3;
}

.cases-title button {
    background: #ff4c84;
    border-radius: 50px;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    border: none;
    margin-top: 8%;
    width: 170px;
    height: 56px;
    color: white;
}

.cases-title button>span {
    padding-right: 7.05%;
}

.cases h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.cases h1 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
}

.reviews-and-ratings {
    margin-left: 50px;
    margin-top: 4.063%;
}

.reviews-and-ratings .review-container h3 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.ratings-select-text {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
}

.review-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-container {
    width: 60.07%;
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
}

select[name="select-game"] {
    width: 48.23%;
    height: 54px;
    background: #e6e5f3;
    border-radius: 10px;
    padding-left: 24px;
}

select[name="select-a-type-of-website"] {
    width: 48.23%;
    height: 54px;
    background: #e6e5f3;
    border-radius: 10px;
    padding-left: 24px;
}

.dota2 {
    display: flex;
    align-items: center;
    background-color: #5754b0;
    background-image: url("img/image\ 22.png");
    border-radius: 16px;
    width: 1032px;
    height: 100px;
    color: white;
    margin-top: 32px;
}

.dota2 h3 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.dota2 h4 {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.dota2 button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 21.8%;
    height: 40px;
    background: inherit;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    border: 1.5px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px rgba(255, 76, 132, 0.1);
    border-radius: 8px;
    color: white;
    margin-left: 36.53%;
    margin-right: 32px;
    text-transform: uppercase;
}

.container-dota2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38.56%;
    margin-left: 32px;
}

.skins {
    width: 91.16%;
    margin: 0 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.skins h4 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #b6b3cc;
}

.skins-container {
    display: flex;
    flex-direction: row;
}

.skins-container h4:first-child {
    padding-left: 2.32%;
}

.skins-container h4:nth-child(2) {
    padding-left: 11.71%;
}

.skins-container h4:nth-child(3) {
    padding-left: 2.2%;
}

.skins-container h4:nth-child(4) {
    padding-left: 5.23%;
}

.skins-container h4:nth-child(5) {
    padding-left: 12.3%;
}

.skins-container h4:nth-child(6) {
    padding-left: 11.71%;
}

.skins div:nth-child(2) {
    margin-top: 23px;
}

.skins div:nth-child(3) .submit-buttons-container {
    width: 32.94%;
    justify-content: flex-end;
}

.skins div:nth-child(4) .submit-buttons-container {
    width: 32.94%;
    justify-content: flex-end;
}

.skins div:nth-child(5) .submit-buttons-container {
    width: 32.94%;
    justify-content: flex-end;
}

.skins div:nth-child(6) .submit-buttons-container {
    width: 32.94%;
    justify-content: flex-end;
}

.skins div:nth-child(7) .submit-buttons-container {
    width: 32.94%;
    justify-content: flex-end;
}

.skins-item {
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1.5px solid rgba(87, 84, 176, 0.15);
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 16px;
}

.skins div:nth-child(6) {
    margin-bottom: 0;
}

.skins-item h3 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #191b31;
}

.martin-luther {
    width: 36px;
    height: 36px;
    margin-left: 24px;
}

.zhan-kalvin {
    width: 135px;
    display: flex;
    align-items: center;
}

.rate-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.country {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12.79%;
}

.country button {
    border: none;
    background: none;
    width: auto;
    height: auto;
}

.skins-item .current {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.thomas-muncer {
    display: Flex;
    flex-direction: Row;
    justify-content: center;
}

.current h5 {
    padding-left: 0;
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #191b31;
}

.current button {
    border: none;
    background: none;
    width: auto;
    height: auto;
}

.current,
.center+h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #191b31;
}

.center {
    justify-content: center;
}

button[type="submit"] {
    width: 138px;
    height: 40px;
    background: #ff4c84;
    box-shadow: 0px 10px 15px rgba(255, 76, 132, 0.1);
    border-radius: 8px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}

.purple-arrow-right {
    width: 40px;
    height: 40px;
    background: #5754b0;
    box-shadow: 0px 10px 15px rgba(87, 84, 176, 0.1);
    border-radius: 8px;
    color: white;
    font-size: 20px;
}

.submit-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 16.6%; */
}

.cs-go {
    display: flex;
    align-items: center;
    background-color: #5754b0;
    background-image: url("img/image\ 23.png");
    border-radius: 16px;
    width: 1032px;
    height: 100px;
    color: white;
    margin: 0 50px;
    margin-top: 32px;
}

.cs-go h3 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.cs-go h4 {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.cs-go button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 21.8%;
    height: 40px;
    background: inherit;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    border: 1.5px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px rgba(255, 76, 132, 0.1);
    border-radius: 8px;
    color: white;
    margin-left: 36.53%;
    margin-right: 32px;
    text-transform: uppercase;
}

.container-cs-go {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38.56%;
    margin-left: 32px;
}

.fortenn-per-cent {
    width: 17.24%;
}

.purple-banner {
    width: 91.16%;
    display: flex;
    background: #5754B0;
    border-radius: 10px;
    margin: 0 auto;
}

.purple-banner>div {
    position: absolute;
    padding-left: 30%;
    padding-top: 4.8%;
}

.purple-banner>div h3 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.purple-banner>div p {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.8;
}

footer {
    width: 91.16%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.daisyridley {
    width: 25%;
}

.daisyridley-container {
    display: flex;
    padding-top: 8.81%;
}

.daisyridley {
    display: flex;
    flex-direction: column;
}

.daisyridley h2>a {
    color: #5754B0;
}

.daisyridley a {
    text-decoration: none;
    color: #80809D;
}

.daisyridley h3:hover {
    transform: scale(1.2);
    transition: 1s all;
}

.daisyridley h2:hover {
    transform: scale(1.1);
    transition: 3s all;
}

.daisyridley h2 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #5754B0;
    padding-bottom: 24px;
}

.daisyridley h3 {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #80809D;
    padding-bottom: 24px;
}

.daisyridley:nth-child(2) h3:first-child {
    padding-top: 43px;
}

footer div:last-child {
    display: flex;
    padding-top: 40px;
}

footer div:last-child h5 {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #191B31;
    opacity: 0.35;
    padding-left: 8.83%;
}

footer div:last-child h6 {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #191B31;
    opacity: 0.5;
    padding-left: 400px;
}

.rei {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
}